<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61576812742178"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/wanderlust_clone/"><i class="fa-brands fa-square-instagram"></i></a> 
            <a href="https://www.linkedin.com/in/sourabh-tiware-6a8a61194/"><i class="fa-brands fa-linkedin"></i></a> 
        </div>

        <div class="f-info-brand">&copy Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privary</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>